In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
dataset=pd.read_csv('simple_linear_data.csv')
dataset.head()

           X           Y
0  37.454012  158.015800
1  95.071431  397.608260
2  73.199394  310.728301
3  59.865848  247.319879
4  15.601864   96.065201

In [4]:
dataset.describe()

                X           Y
count  200.000000  200.000000
mean    48.400623  209.276636
std     29.489143  118.124277
min      0.552212   12.489528
25%     22.858241  106.973899
50%     49.448625  207.880998
75%     75.685962  316.584903
max     98.688694  422.036831

In [5]:
dataset.isna().sum()

X    0
Y    0
dtype: int64

**Linear Regression**

In [7]:
X_mean=dataset['X'].mean()
Y_mean=dataset['Y'].mean()
print(X_mean)
print(Y_mean)

48.400623326661616
209.27663597991

In [9]:
# calculating slope
# ((x-xmean)(y-ymean)).sum()/((X-X_mean)**2).sum()
X=dataset['X']
Y=dataset['Y']
num=((X-X_mean)*(Y-Y_mean)).sum()
den=((X-X_mean)**2).sum()

slope=num/den

print(slope)

3.9921928931825024

In [10]:
# line became=> y=3.99x+c
# c=y_mean-m*x_mean
intercept=Y_mean-slope*X_mean
print(intercept)

16.052011509608235

In [11]:
# line becomes=> y=3.9921x+16.052
# predicted value
x_i=X
y_hat=slope*x_i+intercept
y_hat.head()

0    165.575652
1    395.595501
2    308.278113
3    255.048026
4     78.337662
Name: X, dtype: float64

In [13]:
# errors
errors=Y-y_hat
# mse
mse = (errors**2).mean()
print(mse)

93.3826200790979

In [14]:
R_square= 1-((Y-y_hat)**2).sum()/((Y-Y_mean)**2).sum()
print(R_square)

0.9932738794272722

**Gradient Descent**